@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

:root {
  --primary-color: #546bd6;
  --primary-dark: #4353b0;
  --background-color: #f0f3ff;
}

/* Global Styles */
body {
  font-family: 'Roboto', Arial, sans-serif;
  background-color: var(--background-color);
  color: var(--primary-dark);
  margin: 0;
  padding: 0;
}

.container {
  width: 80%;
  margin: auto;
  overflow: hidden;
}

header {
  background: linear-gradient(135deg, var(--primary-color), var(--primary-dark));
  color: #fff;
  padding: 10px 0;
  border-bottom: var(--background-color) 3px solid;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

#headerContent {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

header a {
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 16px;
}

header ul {
  padding: 0;
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

header li {
  display: inline;
  padding: 0 10px;
}

header #branding {
  display: flex;
  align-items: center;
}

header #branding img {
  height: 50px;
}

button, input[type="submit"], .navButton {
  display: inline-block;
  height: 40px;
  background: var(--primary-color);
  color: #fff;
  border: 0;
  padding: 0 20px;
  cursor: pointer;
  text-transform: uppercase;
  font-size: 16px;
  margin-left: 10px;
  border-radius: 5px;
  transition: background 0.3s;
}

/* nav {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex-grow: 1;
  gap: 20px;
} */

button#searchButton {
  padding: 5px 10px;
  font-size: 14px;
  height: 32px;
  background-color: #fff;
  color: #546bd6;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button#searchButton:hover {
  background-color: #f0f3ff;
  color: #4353b0;
}

header ul {
  padding: 0;
  list-style: none;
  display: flex;
  align-items: center;
  margin: 0;
}

header li {
  display: inline;
  padding: 0 10px;
}

header a {
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 16px;
}

header a:hover {
  color: #f0f3ff;
}

/* Search Page Styles */
#search {
  padding: 20px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#searchForm {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  margin-bottom: 20px;
}

#searchForm input[type="text"] {
  padding: 5px;
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 5px;
  height: 32px;
  width: 300px; /* Adjust width as needed */
}

#searchForm button {
  padding: 5px 10px;
  font-size: 14px;
  height: 32px;
  background-color: #fff;
  color: #546bd6;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}

#searchForm button:hover {
  background-color: #546bd6;
  color: #fff;
}

#searchResults {
  margin-top: 20px;
  width: 100%;
}

.resultItem {
  padding: 10px;
  border-bottom: 1px solid #ccc;
  display: flex;
  justify-content: space-between;
  align-items: center;
  animation: fadeIn 0.5s ease-in-out;
}

.resultItem p {
  margin: 0;
  flex: 1;
}

.resultItem button {
  padding: 5px 10px;
  font-size: 14px;
  background-color: #546bd6;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.3s;
  margin-left: 10px;
}

.resultItem button:hover {
  background-color: #4353b0;
  transform: scale(1.05);
}

@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}

/* Tag Styles */
.tag {
  display: inline-block;
  background-color: #546bd6;
  color: #fff;
  padding: 5px 10px;
  margin-right: 5px;
  border-radius: 3px;
  font-size: 14px;
  margin-top: 5px;
}


button:hover, input[type="submit"]:hover, .navButton:hover {
  background: var(--primary-dark);
}

.hidden {
  display: none;
}

#editTestimony, #newComment {
  width: 100%;
  padding: 10px;
  margin-top: 10px;
  border: 1px solid #546bd6;
  border-radius: 5px;
  font-size: 16px;
}

#editTestimony:focus, #newComment:focus {
  outline: none;
  border-color: #4353b0;
}

#buttonGroup {
  margin-top: 10px;
}

#commentList {
  margin-top: 20px;
}

.comment {
  background-color: #fff;
  border: 1px solid #546bd6;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
}

.comment-author {
  font-weight: bold;
  margin-bottom: 5px;
}

.comment-text {
  margin-left: 10px;
}

#tagContainer {
  margin-top: 10px;
}

#tagInput {
  width: 100%;
  padding: 10px;
  margin-top: 10px;
  border: 1px solid #546bd6;
  border-radius: 5px;
  font-size: 16px;
}

#testimonyTitle {
  font-size: 24px;
  margin-bottom: 5px;
}

#testimonyBox {
  background-color: #fff;
  border: 1px solid #546bd6;
  border-radius: 5px;
  padding: 10px;
  margin-top: 10px;
  line-height: 1.5; /* Ensures proper line spacing */
}

#testimonyText {
  margin: 0; /* Remove any default margin */
  padding: 0; /* Remove any default padding */
}

#testimonyAuthor {
  font-size: 16px;
  margin-top: 10px;
}
