@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

:root {
  --primary-color: #546bd6;
  --primary-dark: #4353b0;
  --background-color: #f0f3ff;
}

/* Global Styles */
body {
  font-family: 'Roboto', Arial, sans-serif;
  background-color: var(--background-color);
  color: var(--primary-dark);
  margin: 0;
  padding: 0;
}

.container {
  width: 80%;
  margin: auto;
  overflow: hidden;
}

header {
  background: linear-gradient(135deg, var(--primary-color), var(--primary-dark));
  color: #fff;
  padding: 10px 0;
  border-bottom: var(--background-color) 3px solid;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

#headerContent {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

header #branding {
  display: flex;
  align-items: center;
}

header #branding img {
  height: 50px;
}

nav {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex-grow: 1;
  gap: 20px;
}

button#searchButton {
  padding: 5px 10px;
  font-size: 14px;
  height: 32px;
  background-color: #fff;
  color: #546bd6;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button#searchButton:hover {
  background-color: #f0f3ff;
  color: #4353b0;
}

header ul {
  padding: 0;
  list-style: none;
  display: flex;
  align-items: center;
  margin: 0;
}

header li {
  display: inline;
  padding: 0 10px;
}

header a {
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 16px;
}

header a:hover {
  color: #f0f3ff;
}

/* Profile Page Styles */
#profileInfo p {
  margin: 10px 0;
}

.checkbox-container {
  margin: 10px 0;
}

.checkbox-label {
  display: flex;
  align-items: center;
}

.checkbox-label input {
  margin-right: 10px;
}

button, input[type="submit"] {
  display: inline-block;
  height: 40px;
  background: var(--primary-color);
  color: #fff;
  border: 0;
  padding-left: 20px;
  padding-right: 20px;
  cursor: pointer;
  text-transform: uppercase;
  font-size: 16px;
  margin-top: 10px;
  transition: background 0.3s;
}

button:hover, input[type="submit"]:hover {
  background: var(--primary-dark);
}

.hidden {
  display: none;
}

form {
  margin-top: 20px;
}

form label {
  display: block;
  margin-bottom: 10px;
  font-weight: bold;
}

form input[type="text"], form select {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #546bd6;
  border-radius: 5px;
  font-size: 16px;
}

form input[type="text"]:focus, form select:focus {
  outline: none;
  border-color: #4353b0;
}

#editProfileForm .checkbox-container {
  margin-bottom: 20px;
}

#editProfileForm .checkbox-label {
  display: flex;
  align-items: center;
}

#editProfileForm .checkbox-label input {
  margin-right: 10px;
}

#denominationResults {
  margin-top: 10px;
}

.denomination-result {
  padding: 5px;
  cursor: pointer;
}

.denomination-result:hover {
  background-color: #e0e0e0;
}
