@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

:root {
  --primary-color: #546bd6;
  --primary-dark: #4353b0;
  --background-color: #f0f3ff;
}

body {
    font-family: 'Roboto', Arial, sans-serif;
    background-color: var(--background-color);
    color: var(--primary-dark);
    margin: 0;
    padding: 0;
  }
  
  .container {
    width: 80%;
    margin: auto;
    overflow: hidden;
  }
  
  header {
    background: linear-gradient(135deg, var(--primary-color), var(--primary-dark));
    color: #fff;
    padding: 10px 0;
    border-bottom: var(--background-color) 3px solid;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }
  
  header a {
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 16px;
  }
  
  header ul {
    padding: 0;
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }
  
  header li {
    display: inline;
    padding: 0 10px;
  }
  
  header #branding {
    display: flex;
    align-items: center;
  }
  
  header #branding img {
    height: 50px;
  }
  
  form {
    background: #fff;
    padding: 20px;
    border: 1px solid #546bd6;
    margin-top: 10px;
  }
  
  form input[type="text"], form input[type="email"], form input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
  }
  
  form input[type="submit"] {
    display: inline-block;
    height: 40px;
    background: var(--primary-color);
    color: #fff;
    border: 0;
    padding-left: 20px;
    padding-right: 20px;
    cursor: pointer;
    text-transform: uppercase;
  }
  
  form input[type="submit"]:hover {
    background: var(--primary-dark);
  }
  
  h1, h2 {
    color: #4353b0;
  }
  
  #modlog .userItem, #searchResults .resultItem {
    background: #fff;
    border: 1px solid #546bd6;
    padding: 10px;
    margin-bottom: 10px;
  }
  
  #modlog .userItem p, #searchResults .resultItem p {
    margin: 5px 0;
  }
  
  #modlog button, #searchResults button {
    display: inline-block;
    height: 30px;
    background: #546bd6;
    color: #fff;
    border: 0;
    padding-left: 10px;
    padding-right: 10px;
    cursor: pointer;
    text-transform: uppercase;
    margin-top: 10px;
  }
  
  #modlog button:hover, #searchResults button:hover {
    background: #4353b0;
  }
  
  #modlog input[type="text"] {
    width: 80%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #546bd6;
  }
  
  #modlog button#searchButton {
    width: 18%;
    display: inline-block;
    height: 42px;
    background: #546bd6;
    color: #fff;
    border: 0;
    padding-left: 10px;
    padding-right: 10px;
    cursor: pointer;
    text-transform: uppercase;
    margin-left: 2%;
  }
  
  #modlog button#searchButton:hover {
    background: #4353b0;
  }
  
  .password-checklist ul {
    padding: 0;
    list-style: none;
  }
  
  .password-checklist li {
    color: red;
  }
  
  .password-checklist li.valid {
    color: green;
  }
  